* {
  overflow-x: hidden;
}

/* JUMBOTRON */
.name {
  color: red;
}

.jumbotron {
  position: relative;
  width: 100vw;
  background-color: rgb(241, 247, 252);
}

.intro {
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

p.jumbo-name {
  font-size: 3rem;
  font-weight: bold;
}

p.jumbo-about {
  font-size: 1.5rem;
  width: 100%;
}

p.jumbo-job {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
}

/* CARD */
.card {
  margin-top: 20px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.workBtn {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.workBtn:hover,
.workBtn:focus {
  background-color: #999;

}
.card-button {
  color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-card {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width:850px) {
  .jumbotron {
    width: 100vw;
  }

  p.jumbo-job {
    width: 90vw;
  }

  p.jumbo-about {
    width: 90vw;
  }
}

@media screen and (max-width:450px) {
  .jumbotron {
    width: 100vw;
    height: 100%;
  }

  p.jumbo-job {
    width: 90vw;
    font-size: 1.3rem;
  }

  p.jumbo-about {
    width: 90vw;
    height: auto;
    font-size: 1rem;
  }
}

.card {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.work-display {
  display: flex;
}