#title-work {
    font-weight: bold;
}

.responsive-image {
    display: inline-block;
    width: 100%;
    height: auto;
}

#spread {
    width: 60%;
    height: auto;
}

h3 {
    text-align: center;
}



.video {
    padding-top: 50%;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.card-column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@media screen and (max-width: 800px) {
    .card-column {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 1640px) {
    /* .card-column {
        width: 100%;
        /* display: block; */
    

    .card-workB {
        width: 60%;
    }
}

.card-work {
    width: auto;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
    max-width: 50%;
}

img {
    width: 30%;
    padding-top: 1rem;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.column img {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

.cover {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30%;
    transition: 0.3s ease;
    padding-bottom: 1rem;
}


.cover:hover{
    opacity: 0.3;
}

.tool h3{
    margin-top: 3rem;
    font-weight: bold;
}

@media screen and (max-width: 780px){
    .responsive-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
}


@media screen and (max-width: 550px){
    .responsive-image, #spread {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
    }
}